<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container py-2">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h2 class="logo text-white mb-0 fw-bold" style="cursor: pointer;" routerLink="/">Market</h2>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold px-3 transition-hover" routerLink="/products"
                        routerLinkActive="text-primary border-bottom border-primary border-2">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold px-3 transition-hover" routerLink="/cart"
                        routerLinkActive="text-primary border-bottom border-primary border-2">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>